/*中间内容样式*/
.warp {
	float: left;
    width: 90%;
    min-height: 200px;
    margin-left: 18px;
    box-shadow: 0px 0px 5px 2px rgba(189,183,189,0.87);
}

.company-content {
    float: left;
    width: 96%;
    margin-left: 2%;
    min-height: 200px;
}

.middlemenu-wrap {
	float: left;
	width: 100%;
	height: 60px;
	background-color: rgb(231,246,257);
}

.content {
	float: left;
	width: 100%;
	height: 40px;
	margin-top: 10px;
}

.left-icon {
	float: left;
	width: 8px;
	height: 100%;
	margin-left: 10px;
	background-color: rgb(58, 180, 254);
}

.left-title {
    float: left;
    width: 47%;
    height: 100%;
    margin-left: 10px;
    line-height: 100%;
    padding-top: 12px;
    font-size: 18px;
    font-weight: bold;
}

.left-title p {
    color: black;
}

.right-title {
	float: right;
	width: 50%;
	height: 100%;

}

.right-title .right-button {
    float: right;
    margin-right: 10px;
    margin-top: 3px;
}

.whitepaperdetail-content {
    float: left;
    width: 100%;
    min-height: 200px;
}

.whitepaperdetail-content .detail {
    float: left;
    min-height: 170px;
    width: 95%;
    margin-left: 27px;
    margin-bottom: 30px;
}


.whitepaperdetail-content .detail p {
    text-indent: 2em;
}

.whitepaperdetail-content .detail div {
    margin-top: 20px;
}


